:root {
  --main-color: #7fc225;
  --secondary-color: #82ae46;
}
.test {
  border: 1px solid;
}
body {
  font-family: "Cairo", sans-serif;
  position: relative;
}
/* Start Loader In All Pages */
.loader-container {
  display: none;
  position: absolute;
  top: -100%;
  z-index: -10;
}
.loader-container.loading {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  z-index: 99999999999;
  animation: text-color 1s ease-in-out infinite alternate;
  transition: opacity 0s ease-in-out 5s, visibility 0s ease-in-out 5s;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 90px;
  height: 90px;
  border: 10px solid transparent;
  border-radius: 50%;
  animation: loader var(--duration) ease-in-out infinite;
}
.load-top {
  border-top-color: var(--main-color);
  --duration: 2s;
}
.load-left {
  border-left-color: var(--main-color);
  --duration: 2.5s;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes text-color {
  0% {
    color: rgba(0, 0, 0, 1);
  }
  50% {
    color: rgba(0, 0, 0, 0.5);
  }
  100% {
    color: rgba(0, 0, 0, 0.1);
  }
}
@keyframes text-color-dark {
  0% {
    color: rgba(255, 255, 255, 1);
  }
  50% {
    color: rgba(255, 255, 255, 0.5);
  }
  100% {
    color: rgba(255, 255, 255, 0.1);
  }
}
/* End Loader In All Pages */

/* Start Header In All Pages */
header {
  direction: rtl !important;
  background-color: var(--main-color);
  box-shadow: none;
  font-weight: 600;
  max-height: 71px;
  z-index: 99999;
}
.header-sticky {
  position: sticky;
  top: 0;
  z-index: 99999;
  width: 100%;
  box-shadow: 0 0 20px #00000060;
}
header .nav-item,
.side-bar .nav-item {
  font-size: 17px !important;
}
.menu-btn .fa-bars {
  cursor: pointer;
  padding: 16.5px;
  font-size: 36px !important;
}
.menu-btn:hover,
.menu-btn.active {
  background-color: var(--secondary-color);
}
.sign {
  color: var(--main-color) !important;
  font-weight: 900 !important;
  font-size: 14px !important;
  border-radius: 7px;
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}
.sign:hover {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
  transition: 0.4s ease-in-out;
}
.logo {
  font-size: 35px;
}
.brand img {
  width: 55px;
  height: auto;
}
.nav-item:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}
.nav-sign .nav-item {
  border-radius: 8px;
}
.nav-p-12 {
  padding: 15px;
}
/* End Header In All Pages */
/* End Sidebar In All Pages */
.side-bar {
  padding-bottom: 100px;
  background-color: #fff;
  box-shadow: none;
  z-index: 99999;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 71px;
  right: -100%;
  overflow-y: auto;
  transition-property: right;
  transition: 0.4s ease-in-out;
}
.side-bar.active {
  right: 0;
  box-shadow: 0 20px 20px #00000050;
  transition: 0.4s ease-in-out;
}
.side-bar hr {
  color: #000;
}
.side-bar form input,
.side-bar form input::placeholder,
.form-control,
.form-control [type="search"]:focus {
  padding-top: 20px;
  border-color: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  font-weight: 600;
  font-size: 18px;
}
.side-bar .nav-item {
  color: var(--main-color);
  background-color: #fff;
}
.side-bar .nav-item:hover,
.side-bar .nav-item-menu .nav-item:hover {
  color: #fff;
  background-color: var(--main-color);
}
.fa-angle-left.active {
  transform: rotate(-90deg);
  transition: 0.4s ease-in-out;
}
.nav-item-menu {
  display: none;
}
/* End Sidebar In All Pages */

/* Start Landing */
.landing {
  height: 100vh;
  position: relative;
  z-index: 0;
}
.landing .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}
.landing .overlay-opacity-60 {
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.landing .overlay .landing-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.landing .introduction-text {
  z-index: 2;
}
.landing .container .search-wrap .search-box {
  position: relative;
}
.landing .container .search-wrap .search-box .search-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
  font-size: 16px;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 7px;
  outline: none;
  color: #8b7d77;
  direction: rtl;
  height: 60px;
}
.landing .container .search-wrap .search-box .btn {
  position: absolute;
  height: 47px;
  margin: 7px;
  border: 0;
  font-size: 14px;
  font-weight: 900;
  border-radius: 7px;
  color: #fff;
  box-shadow: none;
  background-color: var(--main-color);
  z-index: 2;
  cursor: pointer;
}
.landing .container .search-wrap .search-box .search-input:focus + .btn {
  box-shadow: 0 0 5px var(--main-color);
  transition: all 0.3s ease-in-out;
}
.landing .container .search-wrap .search-box .search-input:focus + .btn:hover {
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}
/* End Landing */

/* Start Why Us */
.why-us {
  background-color: var(--main-color);
  padding: 50px 0 80px 0;
  margin: 100px 0;
}
.why-us h1 {
  font-size: 45px;
  color: #fff;
  font-weight: 900;
  padding: 30px 0;
}
.why-us .why-box,
.sections-helper .sections-helper-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-weight: 900;
}
.why-us .why-box h2 {
  font-size: 30px !important;
}
.why-us .why-box p {
  font-weight: 500;
}
.why-us .why-box img,
.sections-helper .sections-helper-box img {
  width: 80px;
}
/* End Why Us */

/* Start Sections Helper */
.sections-helper {
  padding: 50px 0 80px 0;
  margin: 100px 0;
}
.sections-helper .sections-helper-box h2 {
  color: var(--main-color);
}
.sections-helper h1 {
  font-size: 45px;
  color: var(--main-color);
  font-weight: 900;
  padding: 50px 0 70px 0;
}
/* End Sections Helper */

/* Start How Work */
.how-work {
  margin: 100px 0;
}
.work-text h1 {
  color: var(--main-color);
  font-size: 45px;
  font-weight: 900;
}
.work-text span {
  font-size: 30px;
  font-weight: 900;
}
.work-text img {
  width: 30px;
  object-fit: contain;
}
/* End How Work */

/* Start Questions */
.questions {
  background-color: var(--main-color);
}
.title {
  font-size: 18px;
}
.questions-head {
  margin-bottom: 30px;
}
.question {
  padding: 20px 0;
  text-align: end;
  cursor: pointer;
  transition: 0.5s;
}
.question-icon {
  font-size: 30px;
  color: #fff;
  transform: rotate(-45deg);
  transition: 0.5s;
}
.question-pra {
  font-size: 16px;
  padding: 5px;
  display: none;
  direction: rtl;
}
.questions .active .question-icon {
  transform: rotate(-135deg);
  transition: 0.5s;
}
/* End Questions */

/* Start Start Project */
.start-project {
  background-color: var(--main-color);
  margin-top: 120px;
  font-weight: 900;
}
.btn,
.btn:focus {
  background-color: #fff;
  border: none !important;
}
.start-project-btn {
  background-color: #fff !important;
  color: var(--main-color);
  border-radius: 7px;
  font-size: 14px !important;
  width: 30%;
  font-weight: 900;
}
/* End Start Project */

/* Start Footer In All Pages */
footer {
  position: relative;
  z-index: 99999999;
  background-color: var(--main-color);
  margin-top: 100px;
  font-weight: 900;
  font-size: 16px !important;
}
footer a:hover {
  background-color: var(--secondary-color);
}
/* End Footer In All Pages */

/* Start Profile */
.profile {
  height: 250px;
  color: var(--main-color);
  font-weight: 900;
}
.profile .profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 5px #00000060;
}
/* End Profile */
/* Start Tab */
.tab-buttons .sign {
  width: 220px;
  height: 40px;
  background-color: var(--main-color);
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 900 !important;
  box-shadow: 0 0 3px #00000060;
}
.tab-buttons .sign.call-me {
  width: 120px !important;
}
.tab-buttons .sign:hover {
  box-shadow: none;
}
.nav-tabs {
  --bs-nav-tabs-border-width: 0 !important;
  --bs-nav-tabs-border-radius: 0 !important;
}
.tab .nav-tabs .nav-item.active,
.tab .nav-tabs .nav-item:hover {
  border-radius: 0;
  background-color: #eee !important;
  color: #000 !important;
  border-radius: 0 !important;
}
.tab div:has(#profile-tab.active) .tab-buttons-flex .edit {
  display: none !important;
}
.tab .tab-content,
.nav-link.active {
  background-color: #eee !important;
}
.tab-content textarea,
.tab-content textarea:focus {
  border: 0 !important;
  outline: none;
  padding: 15px;
  font-weight: 900;
  font-size: 16px;
  resize: none;
}
.statistics .calculated {
  font-size: 12px;
}
.business-exhibition .business-img {
  box-shadow: none;
  transition: all 0.5s ease-in-out;
}
.business-exhibition:hover .business-img {
  box-shadow: 0 0 5px #00000060;
  transition: all 0.5s ease-in-out;
}
/* End Tab */
/* Start Create Account */
.create-account-form {
  background-color: #f2f2f2;
  border-radius: 7px;
  box-shadow: 0 0 10px #f2f2f2;
}
.create-account-form label svg {
  font-size: 7px;
  color: #f00 !important;
}
.create-account-form input {
  outline: none;
  border: 0;
  padding: 10px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bolder;
}
.create-account-form input::placeholder {
  font-size: 12px;
}
.create-account-form input[type="checkbox"] {
  width: 0;
  height: 0;
  position: relative;
}
.create-account-form input[type="checkbox"]::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 3px;
  cursor: pointer;
}
.create-account-form input[type="checkbox"].checked::after {
  content: "";
  width: 11px;
  height: 16px;
  border: 4px solid;
  border-color: transparent var(--main-color) var(--main-color) transparent;
  rotate: 35deg;
  position: absolute;
  left: 4.5px;
  top: 2.5px;
  cursor: pointer;
}
.create-account-form .check-term #term a {
  color: var(--main-color);
}
.create-account-form .check-term #term a:hover {
  color: var(--main-color);
}
.create-account-form .sign-div .sign {
  background-color: var(--main-color) !important;
  color: #fff !important;
  font-size: 16px !important;
  border: 0.5px solid var(--main-color);
}
.create-account-form .sign-div .sign:hover {
  background-color: #fff !important;
  color: var(--main-color) !important;
}
/* End Create Account */
/* Start Up Footer */
.up-footer h2,
a {
  color: var(--main-color);
  font-weight: 900;
}
.up-footer a:hover {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
}
.up-footer a:has(svg):hover {
  background-color: transparent !important;
}
/* End Up Footer */
/* Start Search About Worker Section */
/* Start Filter */
.add-work,
.search-about-section {
  background-color: #ebebeb;
}
.search-about-section .heading {
  font-size: 30px !important;
}
.search-about-section p {
  font-size: 20px !important;
}
.search-about-section .heading,
.search-about-section p {
  color: #34540a;
}
.search-about-section .filter .search-filter input,
.search-about-section .filter .skill-filter input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
}
.search-about-section .filter .check-filter input,
.search-about-section .filter .check-filter label {
  cursor: pointer;
}
.search-about-section .rating-filter .rating,
.search-about-section .rating-filter .rating > input {
  border: none;
  display: none;
}
.search-about-section .rating-filter .rating > label::before {
  content: "\f005";
  font-family: FontAwesome;
  font-size: 22px;
  margin: 5px;
  cursor: pointer;
}
.search-about-section .rating-filter .rating > .half {
  position: relative;
}
.search-about-section .rating-filter .rating > .half::before {
  content: "\f089";
  position: absolute;
  top: -5px;
  left: 0px;
  cursor: pointer;
}
.search-about-section .rating-filter .rating > label {
  color: #fff;
  cursor: pointer;
}
.search-about-section .rating-filter .rating > input:checked ~ label,
.search-about-section .rating-filter .rating:not(:checked) > label:hover,
.search-about-section
  .rating-filter
  .rating:not(:checked)
  > label:hover
  ~ label {
  color: #ff9c1a;
  transition: color 0.2s ease-in-out;
}
.search-about-section .rating-filter .rating > input:checked + label:hover,
.search-about-section .rating-filter .rating > input:checked ~ label:hover,
.search-about-section
  .rating-filter
  .rating
  > label:hover
  ~ input:checked
  ~ label,
.search-about-section
  .rating-filter
  .rating
  > input:checked
  ~ label:hover
  ~ label {
  color: #ff9c1a;
  transition: color 0.2s ease-in-out;
}
/* End Filter */
/* Start Workers */
.workers {
  border-radius: 15px;
}
.workers .worker {
  border-radius: 0;
}
.workers .worker:first-of-type {
  border-radius: 15px 15px 0 0;
}
.workers .worker:last-of-type {
  border-radius: 0 0 15px 15px;
}
.workers .worker .user-card-avatar {
  position: relative;
}
.workers .worker .user-card-avatar,
.workers .worker .user-card-avatar .user-img-avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.workers .worker .user-card-avatar svg {
  color: green;
  box-shadow: 0 0 7px green;
  position: absolute;
  right: 110px;
  top: 10px;
  border-radius: 50%;
}
.workers .worker .user-body .user-name {
  margin-right: 10px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 26px;
}
.workers .worker .user-body .card-text {
  margin-top: 15px;
  color: #000;
  font-size: 12px !important;
  font-weight: 900;
}
/* End Workers */
/* End Search About Worker Section */
/* Start Add Work */
.add-work-section {
  background-color: #fff;
}
.add-work button,
.add-work div.work-warning-btn {
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-weight: bolder;
  box-shadow: 0 0 5px #00000040;
  scale: 1;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.add-work button:hover,
.add-work div.work-warning-btn:hover {
  scale: 0.99;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}
.add-work button .work-plus,
.add-work div .work-warning {
  fill: #fff;
  width: 22px;
  transition: all 0.4s ease-in-out;
}
.add-work-section input,
.add-work-section textarea {
  outline: none;
  border: 1px solid #00000050;
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
}
.add-work-section input {
  height: 35px;
}
.add-work-section textarea {
  min-height: 75px;
  max-height: 150px;
  resize: none;
}
.add-work-section label {
  color: #477a03;
  font-size: 18px;
  font-weight: 900;
}
.add-work-section label svg {
  font-size: 7px;
  color: #f00 !important;
}
.add-work-section small {
  font-size: 14px;
}
.add-work .how-add-work-section h2,
.add-work .how-add-work-section p {
  color: #34540a;
}
.add-work .how-add-work-section h2 {
  font-size: 24px;
  font-weight: 900;
}
.add-work .how-add-work-section p {
  font-size: 16px;
  font-weight: 600;
}
/* End Add Work */
/* Start Open Alert Video Overlay */
.popup-overlay,
.container-video {
  display: none;
}
.popup-overlay.active {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  z-index: 999999999;
}
.container-video.active {
  display: block;
  position: fixed;
  background-color: #fff;
  border-radius: 20px;
  width: 60%;
  height: 60%;
  margin: 40px auto;
  z-index: 9999999999;
}
.container-video iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* End Open Alert Video Overlay */
/* Start Dark Mode */
.darkmode-label {
  width: 75px;
  height: 38px;
  position: relative;
  display: block;
  background-color: #ebebeb;
  border-radius: 30px;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.4),
    inset 0 -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.darkmode-label::after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  top: 5px;
  left: 4px;
  display: block;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}
.darkmode-toggle:checked + .darkmode-label {
  background: #242424;
}
.darkmode-toggle:checked + .darkmode-label::after {
  left: 71px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.darkmode-label:active:after {
  width: 45px;
  border-radius: 25px;
  transition: 0.2s;
}
.darkmode-label svg {
  position: absolute;
  width: 20px;
  top: 9px;
  z-index: 20;
}
.darkmode-label svg.sun {
  left: 8px;
  fill: #fff;
  transition: all 0.3s ease-in-out;
}
.darkmode-label svg.moon {
  left: 47px;
  fill: #7e7e7e;
  transition: all 0.3s ease-in-out;
}
.darkmode-toggle.dark:checked + .darkmode-label svg.sun {
  fill: #7e7e7e;
}
.darkmode-toggle.dark:checked + .darkmode-label svg.moon {
  fill: #fff;
}
*:has(.darkmode-toggle.dark:checked) .search-about-section .filter-btn,
*:has(.darkmode-toggle.dark:checked) .sign {
  background-color: var(--main-color) !important;
  color: #fff !important;
  transition: all 0.4s ease-in-out;
}
*:has(.darkmode-toggle.dark:checked)
  .create-account-form
  input[type="checkbox"]::before {
  background-color: var(--main-color);
}
*:has(.darkmode-toggle.dark:checked)
  .create-account-form
  input[type="checkbox"].checked::after {
  border-color: transparent #fff #fff transparent;
}
*:has(.darkmode-toggle.dark:checked) .sign:hover {
  background-color: #fff !important;
  color: var(--main-color) !important;
  transition: all 0.4s ease-in-out;
}
*:has(.darkmode-toggle.dark:checked),
*:has(.darkmode-toggle.dark:checked) .loader-container.loading,
*:has(.darkmode-toggle.dark:checked) .side-bar,
*:has(.darkmode-toggle.dark:checked) .drop:not(span, svg),
*:has(.darkmode-toggle.dark:checked) .nav-item,
*:has(.darkmode-toggle.dark:checked) .start-project,
*:has(.darkmode-toggle.dark:checked) .search-input,
*:has(.darkmode-toggle.dark:checked) .container-video.active,
*:has(.darkmode-toggle.dark:checked) .add-work-section,
*:has(.darkmode-toggle.dark:checked) footer {
  background: #242424 !important;
}
*:has(.darkmode-toggle.dark:checked) .logo,
*:has(.darkmode-toggle.dark:checked) .add-work-section label,
*:has(.darkmode-toggle.dark:checked) .add-work .how-add-work-section h2,
*:has(.darkmode-toggle.dark:checked) .add-work .how-add-work-section p,
*:has(.darkmode-toggle.dark:checked) .up-footer h2,
*:has(.darkmode-toggle.dark:checked) .up-footer h2,
*:has(.darkmode-toggle.dark:checked) .up-footer svg {
  color: var(--main-color) !important;
  fill: #fff !important;
}
*:has(.darkmode-toggle.dark:checked) .add-work .how-add-work-section h2,
*:has(.darkmode-toggle.dark:checked) .add-work .how-add-work-section p {
  opacity: 0.8;
}
*:has(.darkmode-toggle.dark:checked) .create-account-form {
  background-color: #303030;
  box-shadow: 0 0 10px #303030;
}
*:has(.darkmode-toggle.dark:checked) .filter .filter-search input,
*:has(.darkmode-toggle.dark:checked) .create-account-form input {
  background-color: #242424;
  color: #fff;
}
*:has(.darkmode-toggle.dark:checked) .filter .check-filter label,
*:has(.darkmode-toggle.dark:checked) .create-account-form label {
  color: #fff;
}
*:has(.darkmode-toggle.dark:checked) .add-work-section input,
*:has(.darkmode-toggle.dark:checked) .add-work-section textarea {
  border-color: #303030;
  color: #fff;
}
*:has(.darkmode-toggle.dark:checked) .create-account-form .sign-div .sign {
  border: 0;
}
*:has(.darkmode-toggle.dark:checked) .search-about-section .workers,
*:has(.darkmode-toggle.dark:checked) .search-about-section .workers .worker,
*:has(.darkmode-toggle.dark:checked) .why-us,
*:has(.darkmode-toggle.dark:checked) .questions,
*:has(.darkmode-toggle.dark:checked) .add-work-section input,
*:has(.darkmode-toggle.dark:checked) .add-work-section textarea,
*:has(.darkmode-toggle.dark:checked) footer {
  background-color: #191919 !important;
}
*:has(.darkmode-toggle.dark:checked) .loader-container.loading {
  animation: text-color-dark 1s ease-in-out infinite alternate;
}
*:has(.darkmode-toggle.dark:checked) h1,
*:has(.darkmode-toggle.dark:checked) h2,
*:has(.darkmode-toggle.dark:checked) .side-bar hr,
*:has(.darkmode-toggle.dark:checked) .search-input,
*:has(.darkmode-toggle.dark:checked) [type="search"],
*:has(.darkmode-toggle.dark:checked) .how-work span,
*:has(.darkmode-toggle.dark:checked) .tab .nav-tabs .nav-item button,
*:has(.darkmode-toggle.dark:checked) p,
*:has(.darkmode-toggle.dark:checked) .write-about textarea,
*:has(.darkmode-toggle.dark:checked) .statistics div div,
*:has(.darkmode-toggle.dark:checked) .business-exhibition,
*:has(.darkmode-toggle.dark:checked) .side-filter .submit,
*:has(.darkmode-toggle.dark:checked) .side-filter .back,
*:has(.darkmode-toggle.dark:checked) .up-footer a {
  color: #fff !important;
}
*:has(.darkmode-toggle.dark:checked) .add-work-section small,
*:has(.darkmode-toggle.dark:checked) .profile .job,
*:has(.darkmode-toggle.dark:checked) .how-work p {
  color: #ffffff80 !important;
}
*:has(.darkmode-toggle.dark:checked) .profile .profile-img {
  box-shadow: 0 0 5px #ffffff60;
}
*:has(.darkmode-toggle.dark:checked) .add-work,
*:has(.darkmode-toggle.dark:checked) .search-about-section,
*:has(.darkmode-toggle.dark:checked) .filter,
*:has(.darkmode-toggle.dark:checked) .side-filter,
*:has(.darkmode-toggle.dark:checked) .write-about div,
*:has(.darkmode-toggle.dark:checked) .write-about textarea,
*:has(.darkmode-toggle.dark:checked) .statistics div,
*:has(.darkmode-toggle.dark:checked) .business-exhibition .business-img {
  background-color: #303030 !important;
}
*:has(.darkmode-toggle.dark:checked) .business-exhibition:hover .business-img {
  box-shadow: 0 0 5px #ffffff40;
}
*:has(.darkmode-toggle.dark:checked) .menu-btn,
*:has(.darkmode-toggle.dark:checked) .menu-btn:hover,
*:has(.darkmode-toggle.dark:checked) .menu-btn.active,
*:has(.darkmode-toggle.dark:checked) .side-bar .nav-item:hover,
*:has(.darkmode-toggle.dark:checked) .side-bar .nav-item-menu .nav-item:hover,
*:has(.darkmode-toggle.dark:checked) .nav-item:hover,
*:has(.darkmode-toggle.dark:checked) .tab-content,
*:has(.darkmode-toggle.dark:checked) .tab .nav-tabs .nav-item .active,
*:has(.darkmode-toggle.dark:checked) .tab .nav-tabs .nav-item:hover,
*:has(.darkmode-toggle.dark:checked) .up-footer a:hover,
*:has(.darkmode-toggle.dark:checked) footer a:hover {
  background-color: #3a3a3a !important;
  color: var(--main-color) !important;
}
*:has(.darkmode-toggle.dark:checked) .up-footer a:has(svg):hover {
  background-color: transparent !important;
}
*:has(.darkmode-toggle.dark:checked) .search-about-section .workers .card {
  border-color: #303030 !important;
}
*:has(.darkmode-toggle.dark:checked) .add-work button {
  scale: 1;
  box-shadow: none;
  transition: all 0.4s ease-in-out;
}
*:has(.darkmode-toggle.dark:checked) .add-work button:hover {
  scale: 1;
  background-color: #fff !important;
  color: var(--main-color) !important;
  transition: all 0.4s ease-in-out;
}
*:has(.darkmode-toggle.dark:checked) .add-work button:hover svg {
  stroke: var(--main-color) !important;
  fill: var(--main-color) !important;
  transition: all 0.4s ease-in-out;
}
*:has(.darkmode-toggle.dark:checked)
  .search-about-section
  .workers
  .worker
  .card-top-title-job
  div,
*:has(.darkmode-toggle.dark:checked) .search-about-section .see-more a {
  color: #ffffff90 !important;
}
/* End Dark Mode */
/* Start Media */
@media (max-width: 1400px) {
  .container {
    max-width: 90% !important;
  }
  .sign {
    font-size: 12px !important;
  }
  .heading {
    font-size: 40px !important;
  }
  .container-video.active {
    width: 80%;
  }
  .add-work-section input,
  .add-work-section textarea {
    font-size: 14px;
  }
  .add-work-section input {
    height: 30px;
  }
  .add-work-section textarea {
    max-height: 130px;
  }
  .add-work-section label {
    font-size: 16px;
  }
  .add-work-section small {
    font-size: 13px;
  }
  .add-work .how-add-work-section h2 {
    font-size: 22px;
  }
  .add-work .how-add-work-section p {
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  .sign {
    font-size: 13px !important;
    padding: 0 10px !important;
  }
  .heading {
    font-size: 35px !important;
  }
  .search-about-section .heading {
    font-size: 28px !important;
  }
  .workers .worker .user-card-avatar,
  .workers .worker .user-card-avatar .user-img-avatar {
    width: 90px;
    height: 90px;
  }
  .workers .worker .user-card-avatar svg {
    right: 75px;
    top: 8px;
  }
  .workers .worker .user-body .user-name {
    font-size: 20px;
  }
  body {
    position: relative;
  }
  .filter-btn {
    border: 0.25px solid #34540a;
    border-radius: 5px;
    color: #34540a;
    font-weight: 100;
    box-shadow: 0 0 5px #00000050;
    transition: all 0.3s ease-in-out;
  }
  .filter-btn:hover {
    box-shadow: none;
    transition: all 0.3s ease-in-out;
  }
  .filter {
    display: none;
    position: absolute;
    z-index: 9999999999;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    transition: all 0.5s ease-in-out;
  }
  .filter.active {
    display: block;
    left: 0;
    transition: all 0.5s ease-in-out;
  }
  .search-about-section .rating-filter .rating > label {
    color: #8b7d77;
  }
  .search-about-section .filter .filter-search .back {
    font-weight: bold;
    cursor: pointer;
  }
  .search-about-section .filter .filter-search .submit {
    border: none;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
  }
  .search-about-section .see-more a {
    font-size: 24px !important;
  }
  .add-work-section textarea {
    max-height: 110px;
  }
  .add-work-section label {
    font-size: 15px;
  }
  .add-work-section small {
    font-size: 12px;
  }
  .add-work .how-add-work-section h2 {
    font-size: 20px;
  }
  .add-work .how-add-work-section p {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 90% !important;
  }
  .landing .container .search-wrap .search-box {
    display: flex;
    justify-content: center;
  }
  .landing .container .search-wrap .search-box .search-input {
    display: none;
  }
  .landing .container .search-wrap .search-box .btn {
    width: 60%;
    box-shadow: 0 0 5px #00000060;
    transition: all 0.3s ease-in-out;
  }
  .landing .container .search-wrap .search-box .btn:hover {
    background-color: #fff;
    color: var(--main-color);
    box-shadow: none;
    transition: all 0.3s ease-in-out;
  }
  .heading {
    font-size: 30px !important;
  }
  .why-us .why-box h2 {
    font-size: 25px !important;
  }
  .title {
    font-size: 14px;
  }
  .question-icon {
    font-size: 25px;
  }
  .question-pra {
    font-size: 12px;
  }
  .start-project-btn {
    width: 45%;
  }
  footer {
    font-size: 14px !important;
  }
  .search-about-section .heading {
    font-size: 26px !important;
  }
  .workers .worker .user-body .user-name {
    font-size: 18px;
  }
  .search-about-section .see-more a {
    font-size: 22px !important;
  }
  .add-work button,
  .add-work .work-warning-btn {
    font-size: 14px;
  }
  .add-work button .work-plus,
  .add-work div .work-warning {
    width: 20px;
  }
  .add-work-section textarea {
    max-height: 90px;
  }
  .add-work-section label {
    font-size: 14px;
  }
  .darkmode-label {
    width: 70px;
    height: 32px;
  }
  .darkmode-label::after {
    width: 23px;
    height: 23px;
    top: 4.5px;
  }
  .darkmode-toggle:checked + .darkmode-label::after {
    left: 65px;
  }
  .darkmode-label:active:after {
    width: 28px;
  }
  .darkmode-label svg {
    width: 16px;
    top: 7.5px;
  }
  .darkmode-label svg.sun {
    left: 7.5px;
  }
  .darkmode-label svg.moon {
    left: 45px;
  }
}
.nav-item.nav-link {
  padding: 23px 15px;
}
@media (max-width: 768px) {
  .container {
    max-width: 90% !important;
  }
  .side-bar {
    right: -100%;
    width: 100%;
  }
  .create-account-form input[type="checkbox"]::before {
    width: 18px;
    height: 18px;
    top: 0px;
  }
  .create-account-form input[type="checkbox"].checked::after {
    width: 10px;
    height: 15px;
    left: 4px;
    top: -0.5px;
  }
  .create-account-form .check-term label {
    font-size: 14px;
  }
  .heading {
    font-size: 26px !important;
  }
  .search-about-section .heading {
    font-size: 24px !important;
  }
  .search-about-section .see-more a {
    font-size: 20px !important;
  }
  .add-work button .work-plus,
  .add-work div .work-warning {
    width: 18px;
  }
  .add-work-section textarea {
    max-height: 75px;
  }
  .darkmode-label {
    width: 60px;
    height: 28px;
  }
  .darkmode-label::after {
    width: 20px;
    height: 20px;
    top: 4px;
  }
  .darkmode-toggle:checked + .darkmode-label::after {
    left: 56px;
  }
  .darkmode-label:active:after {
    width: 30px;
  }
  .darkmode-label svg {
    width: 15px;
    top: 6.5px;
  }
  .darkmode-label svg.sun {
    left: 6px;
  }
  .darkmode-label svg.moon {
    left: 38px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 90% !important;
  }
  .search-about-section .heading {
    font-size: 22px !important;
  }
  .workers .worker .card-body .card-top-title-job,
  .workers .worker .card-body .card-top-title-job div {
    display: block !important;
  }
  .workers .worker .user-body .user-name {
    font-size: 14px;
  }
  .workers .worker .user-body .user-name + div {
    font-size: 12px;
  }
  .workers .worker .user-card-avatar,
  .workers .worker .user-card-avatar .user-img-avatar {
    width: 60px;
    height: 60px;
  }
  .workers .worker .user-card-avatar svg {
    width: 12px;
    height: 12px;
    right: 45px;
    top: 5px;
  }
  .workers .worker .user-body .card-text {
    font-size: 10px;
    font-weight: 500;
  }
  .search-about-section .see-more a {
    font-size: 18px !important;
  }
  .add-work button .work-plus,
  .add-work div .work-warning {
    width: 16px;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: 90% !important;
  }
  .brand img {
    display: none !important;
  }
  .landing .container .search-wrap .search-box .btn {
    width: 80%;
  }
  .why-us .why-box h2 {
    font-size: 20px !important;
  }
  .start-project-btn {
    width: 60%;
  }
  .nav-tabs .nav-link {
    font-size: 12px;
  }
  .create-account-form .check-term label {
    font-size: 12px;
  }
  footer {
    font-size: 12px !important;
  }
  .search-about-section .see-more a {
    font-size: 16px !important;
  }
  .container-video.active {
    height: 45%;
  }
  .add-work button .work-plus,
  .add-work div .work-warning {
    width: 14px;
  }
}
/* End Media */
