* {
  --main-color: #669c1e;
  --secondary-color: #82ae46;
}
body {
  font-family: "Cairo", sans-serif;
}
/* Start Loader In All Pages */
.loader-container {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  pointer-events: none;
  z-index: 9999999;
  font-weight: bold;
}
.loader-container.loading {
  display: flex;
  opacity: 0;
  visibility: hidden;
  animation: text-color 1s ease-in-out infinite alternate;
  transition: opacity 0s ease-in-out 5s, visibility 0s ease-in-out 5s;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 90px;
  height: 90px;
  border: 10px solid transparent;
  border-radius: 50%;
  animation: loader var(--duration) var(--timing) infinite;
}
.load-top {
  border-top-color: var(--main-color);
  --duration: 2s;
  --timing: ease-in-out;
}
.load-left {
  border-left-color: var(--main-color);
  --duration: 2.5s;
  --timing: ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes text-color {
  0% {
    color: rgba(0, 0, 0, 1);
  }
  50% {
    color: rgba(0, 0, 0, 0.5);
  }
  100% {
    color: rgba(0, 0, 0, 0.1);
  }
}
/* End Loader In All Pages */

/* Start Header In All Pages */
header {
  direction: rtl !important;
  background-color: var(--main-color);
  box-shadow: none;
  font-weight: 600;
  min-height: 75px;
  z-index: 99999;
}
.header-sticky {
  position: sticky;
  top: 0;
  z-index: 99999;
  width: 100%;
  box-shadow: 0 0 20px #00000060;
}
header .nav-item,
.side-bar .nav-item {
  font-size: 16px !important;
}
.menu-btn svg {
  cursor: pointer;
  font-size: 40px;
}
.fa-bars {
  font-size: 45px !important;
}
.fa-bars:hover,
.menu-btn.active {
  background-color: var(--secondary-color);
}
.sign {
  color: var(--main-color) !important;
  font-weight: 900 !important;
  font-size: 14px !important;
  border-radius: 7px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}
.sign:hover {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
  transition: 0.4s ease-in-out;
}
.logo {
  font-size: 30px;
}
.brand img {
  width: 75px;
  height: 75px;
}
.nav-item:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}
.nav-sign .nav-item {
  border-radius: 8px;
}
.nav-p-17 {
  padding: 17px;
}
.nav-p-20 {
  padding: 20px;
}
/* End Header In All Pages */
/* End Sidebar In All Pages */
.side-bar {
  background-color: #fff;
  box-shadow: none;
  z-index: 99999;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 80px;
  right: -300px;
  overflow-y: auto;
  transition-property: right;
  transition: 0.4s ease-in-out;
}
.side-bar.active {
  right: 0;
  box-shadow: 0 20px 20px #00000050;
  transition: 0.4s ease-in-out;
}
.side-bar form input,
.side-bar form input::placeholder,
.form-control,
.form-control [type="search"]:focus {
  padding-top: 20px;
  border-color: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  font-weight: 600;
  font-size: 18px;
}
.side-bar .nav-item {
  color: var(--main-color);
  background-color: #fff;
}
.side-bar .nav-item:hover {
  color: #fff;
  background-color: var(--main-color);
}
/* End Sidebar In All Pages */

/* Start Landing */
.landing {
  z-index: -1;
  height: 100vh;
  margin-top: -8px;
}
.landing .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}
.landing .overlay-opacity-60 {
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.landing .introduction-text {
  z-index: 2;
}
.landing .container .search-wrap .search-box {
  position: relative;
}
.landing .container .search-wrap .search-box .search-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
  font-size: 16px;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 7px;
  outline: none;
  color: #8b7d77;
  direction: rtl;
  height: 60px;
}
.landing .container .search-wrap .search-box .btn {
  position: absolute;
  height: 47px;
  margin: 7px;
  border: 0;
  font-size: 14px;
  font-weight: 900;
  border-radius: 7px;
  color: #fff;
  box-shadow: none;
  background-color: var(--main-color);
  z-index: 2;
  cursor: pointer;
}
.landing .container .search-wrap .search-box .search-input:focus + .btn {
  box-shadow: 0 0 5px var(--main-color);
  transition: all 0.3s ease-in-out;
}
.landing .container .search-wrap .search-box .search-input:focus + .btn:hover {
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}
/* End Landing */

/* Start Why Us */
.why-us {
  background-color: var(--main-color);
  padding: 50px 0 80px 0;
  margin: 100px 0;
}
.why-us h1 {
  font-size: 45px;
  color: #fff;
  font-weight: 900;
  padding: 30px 0;
}
.why-us .why-box,
.sections-helper .sections-helper-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-weight: 900;
}
.why-us .why-box h2 {
  font-size: 30px !important;
}
.why-us .why-box p {
  font-weight: 500;
}
.why-us .why-box img,
.sections-helper .sections-helper-box img {
  width: 80px;
}
/* End Why Us */

/* Start Sections Helper */
.sections-helper {
  padding: 50px 0 80px 0;
  margin: 100px 0;
}
.sections-helper .sections-helper-box h2 {
  color: var(--main-color);
}
.sections-helper h1 {
  font-size: 45px;
  color: var(--main-color);
  font-weight: 900;
  padding: 50px 0 70px 0;
}
/* End Sections Helper */

/* Start How Work */
.how-work {
  margin: 100px 0;
}
.work-text h1 {
  color: var(--main-color);
  font-size: 45px;
  font-weight: 900;
}
.work-text span {
  font-size: 30px;
  font-weight: 900;
}
.work-text img {
  width: 30px;
  object-fit: contain;
}
/* End How Work */

/* Start Questions */
.questions {
  background-color: var(--main-color);
}
.title {
  font-size: 18px;
}
.questions-head {
  margin-bottom: 30px;
}
.question {
  padding: 20px 0;
  text-align: end;
  cursor: pointer;
  transition: 0.5s;
}
.question-icon {
  font-size: 30px;
  color: #fff;
  transform: rotate(-45deg);
  transition: 0.5s;
}
.question-pra {
  font-size: 16px;
  padding: 5px;
  display: none;
  direction: rtl;
}
.questions .active .question-icon {
  transform: rotate(-135deg);
  transition: 0.5s;
}
/* End Questions */

/* Start Start Project */
.start-project {
  background-color: var(--main-color);
  margin-top: 120px;
  font-weight: 900;
}
.btn,
.btn:focus {
  background-color: #fff;
  border: none !important;
}
.start-project-btn {
  background-color: #fff !important;
  color: var(--main-color);
  border-radius: 7px;
  font-size: 14px !important;
  width: 30%;
  font-weight: 900;
}
/* End Start Project */

/* Start Footer In All Pages */
footer {
  position: relative;
  margin-top: 100px;
  padding: 10px;
  background-color: var(--main-color);
  font-weight: 700;
  z-index: 99999;
}
footer a:hover {
  background-color: var(--secondary-color);
}
/* End Footer In All Pages */

/* Start Media */
@media (max-width: 1400px) {
  .fa-bars {
    font-size: 40px !important;
  }
  header .nav-item,
  .side-bar .nav-item {
    padding: 17.5px 10px;
    font-size: 15px !important;
  }
  .sign {
    font-size: 12px !important;
  }
  .side-bar {
    top: 75px;
  }
  .heading {
    font-size: 40px !important;
  }
}
@media (max-width: 1200px) {
  .sign {
    font-size: 13px !important;
    padding: 0 10px !important;
  }
  .heading {
    font-size: 35px !important;
  }
}
@media (max-width: 991px) {
  .landing .container .search-wrap .search-box {
    display: flex;
    justify-content: center;
  }
  .landing .container .search-wrap .search-box .search-input {
    display: none;
  }
  .landing .container .search-wrap .search-box .btn {
    width: 60%;
  }
  .heading {
    font-size: 30px !important;
  }
  .why-us .why-box h2 {
    font-size: 25px !important;
  }
  .title {
    font-size: 14px;
  }
  .question-icon {
    font-size: 25px;
  }
  .question-pra {
    font-size: 12px;
  }
  .start-project-btn {
    width: 45%;
  }
}
@media (max-width: 400px) {
  .brand img {
    display: none !important;
  }
  .side-bar {
    right: -100%;
    width: 100%;
  }
  .sign {
    font-size: 13px !important;
    padding: 0 5px !important;
  }
  .landing .container .search-wrap .search-box .btn {
    width: 80%;
  }
  .why-us .why-box h2 {
    font-size: 20px !important;
  }
  .start-project-btn {
    width: 60%;
  }
}
/* End Media */
